In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('housing_data.csv')

In [5]:
df.head()

,price,area,bedrooms,bathrooms,stories,parking,mainroad,guestroom,basement,hotwaterheating,airconditioning,prefarea,furnishingstatus
0,5290221,6658,3,1,1,0,no,no,no,yes,yes,no,unfurnished
1,11706737,5150,4,4,1,2,no,no,no,yes,yes,no,furnished
2,11097859,5985,2,4,2,2,no,yes,yes,no,no,no,unfurnished
3,7970934,8949,1,4,3,2,yes,yes,no,yes,yes,yes,semi-furnished
4,10756659,1824,4,4,4,0,no,no,yes,yes,no,yes,semi-furnished

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             2500 non-null   int64
 1   area              2500 non-null   int64
 2   bedrooms          2500 non-null   int64
 3   bathrooms         2500 non-null   int64
 4   stories           2500 non-null   int64
 5   parking           2500 non-null   int64
 6   mainroad          2500 non-null   object
 7   guestroom         2500 non-null   object
 8   basement          2500 non-null   object
 9   hotwaterheating   2500 non-null   object
 10  airconditioning   2500 non-null   object
 11  prefarea          2500 non-null   object
 12  furnishingstatus  2500 non-null   object
dtypes: int64(6), object(7)
memory usage: 254.0+ KB

In [7]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,2.500000e+03,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,7.522854e+06,8894.216800,3.529200,2.460400,2.528800,1.505200
std,3.352604e+06,4266.193866,1.718816,1.124695,1.128574,1.112865
min,1.750433e+06,1651.000000,1.000000,1.000000,1.000000,0.000000
25%,4.563086e+06,5160.500000,2.000000,1.000000,2.000000,1.000000
50%,7.475634e+06,8916.500000,4.000000,2.000000,3.000000,2.000000
75%,1.043519e+07,12619.000000,5.000000,3.000000,4.000000,2.000000
max,1.329534e+07,16199.000000,6.000000,4.000000,4.000000,3.000000

In [8]:
df.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
parking             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
prefarea            0
furnishingstatus    0
dtype: int64

In [13]:
df.duplicated().sum()

0